<p-table [value]="pedidos" [rows]="10" [paginator]="true">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                <a>{{col.header}}</a>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido>
        <tr>
            <td *ngFor="let col of cols" class="{{col.field}}">
                <span *ngIf="col.field === 'pedidosCocinaIds'">
                    <div class="row">
                        <a *ngFor="let pedidoCocina of pedido.arrayPedidosCocinaLinks" [ngClass]="{
                            'bg-primary': pedidoCocina.estado == 'Nuevo', 
                            'bg-warning': pedidoCocina.estado == 'En preparacion',
                            'bg-success': pedidoCocina.estado == 'Entregado a la mesa',
                            'text-white p-1 m-2 col text-center':true
                        }" (click)="Click(pedidoCocina)">
                            {{pedidoCocina.id}}
                        </a>
                    </div>
                </span>

                <span *ngIf="col.field === 'pedidosBarIds'">
                    <div class="row">
                        <a *ngFor="let pedidoBar of pedido.arrayPedidosBarLinks" [ngClass]="{
                            'bg-primary': pedidoBar.estado == 'Nuevo', 
                            'bg-warning': pedidoBar.estado == 'En preparacion',
                            'bg-success': pedidoBar.estado == 'Entregado a la mesa',
                            'text-white p-1 m-2 col text-center':true
                        }" (click)="Click(pedidoBar)">
                            {{pedidoBar.id}}
                        </a>
                    </div>
                </span>

                <span *ngIf="col.field === 'pedidosCervezaIds'">
                    <div class="row">
                        <a *ngFor="let pedidoCerveza of pedido.arrayPedidosCervezaLinks" [ngClass]="{
                            'bg-primary': pedidoCerveza.estado == 'Nuevo', 
                            'bg-warning': pedidoCerveza.estado == 'En preparacion',
                            'bg-success': pedidoCerveza.estado == 'Entregado a la mesa',
                            'text-white p-1 m-2 col text-center':true
                        }" (click)="Click(pedidoCerveza)">
                            {{pedidoCerveza.id}}
                        </a>
                    </div>
                </span>

                <span *ngIf="col.field === 'estado'">
                        <p
                        [ngClass]="{
                            'bg-primary': pedido[col.field] == 'Nuevo', 
                            'bg-warning': pedido[col.field] == 'En preparacion',
                            'bg-success': pedido[col.field] == 'Cerrado',
                            'text-white p-1 m-2 col text-center':true
                        }"
                        >
                            {{pedido[col.field]}}
                        </p>
                </span>

                <span
                    *ngIf="col.field !== 'pedidosCocinaIds' && col.field !== 'pedidosBarIds' && col.field !== 'pedidosCervezaIds' && col.field !== 'estado'">
                    {{pedido[col.field]}}
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>

<p *ngIf="clickedPedido">
    {{clickedPedido.estado}}<br>
    cantidad: {{clickedPedido.cantidad}}<br>
    producto {{clickedPedido.productoId}}
    <br>
    cocineroUsername // cerveceroUsername // bartenderUsername == null ? unassigned : cocinero/cervecero/bartender username
</p>