<div class="row">
    <div class="col-12">
        <button *ngIf="canManageEmployees" class="col-12 btn btn-danger" [routerLink]="['/admin/empleados']">
            Empleados
        </button>
    </div>
    <div class="col-12">
        <button *ngIf="canViewPedidos"
            class="col-12 btn btn-primary">
            Pedidos
        </button>
    </div>
    <div class="col-12">
        <button *ngIf="canManageEmployees" [routerLink]="['/admin/reportes']"
            class="col-12 btn btn-success">
            Reportes
        </button>
    </div>
</div>